/*GENERAL USE*/

#cover {
width:100%;
height:100%;
background-color:#3769aa;
position:absolute;
z-index:1000;
}
#coverImg {
width:70px;
height:70px;
margin-left:auto;
margin-right:auto;
}
#masterCard {
width:100%;
height:100%;
background-color:#ffffff;
position:fixed;
top: 0px;
left:0px;
opacity:0;
z-index:50;
pointer-events: none;
}
@font-face {
font-family: robotoRegular;
src: url(robotoRegular.ttf);
}
@font-face {
font-family: robotoBold;
src: url(robotoBold.ttf);
}
.copy{
font-family:robotoRegular;
font-size:.7em;
letter-spacing:.05em;
line-height:175%;
}
.copy_2{
font-family:robotoBold;
font-size:.7em;
color:#ffffff;
}
.copy_3{
font-family:robotoBold;
color:#3769aa;
text-decoration:none;
}
body{
padding:0px;
margin:0px;
overflow:hidden;
}
a {
color:#000000;
text-decoration:none;
}

/*SPLASH*/

#splash{
position:absolute;
width:100%;
height:100%;
}

#circleMaster{
position:absolute;
}
.circle{
width:0px;
height:0px;
border-radius:0px;
background-color:#e7e9f3;
position:absolute;
}
.welcome{
width:100%;
height:100%;
}
#coolStroke_1{
border-style:solid;
border-width:4px;
border-color:#3769aa;
display:block;
position:fixed;
top:0px;
left:0px;
pointer-events:none;
z-index:100;
}
#outsideLogo{
width:125px;
margin:auto;
display:block;
cursor:pointer;
position:relative;
right:0px;
left:0px;
}
#outsideLogo img{ /*image elements are inline-block by default*/
width:100%;
}
#outsideLogo:hover .greenLogo{
display:block;
}
#outsideLogo:hover .blueLogo{
display:none;
}
#tagline{
width:100%;
display:block;
margin:auto;
right:0px;
left:0px;
position:relative;
z-index:10;
max-width:700px;
}
#cvOpenBtnHolder{
width:180px;
height:80px;
margin:auto;
position:relative;
}
#cvBtn{
border-radius:50%;
background-color:#3769aa;
width:80px;
height:80px;
float:left;
cursor:pointer;
position:relative;
}
.cvBtnLink{
width:80px;
height:80px;
}
.cvBtnTxt{
position:absolute;
left:34px;
top:34px;
}
#onwardBtn{
border-radius:50%;
background-color:#3769aa;
width:80px;
height:80px;
float:right;
cursor:pointer;
position:relative;
}
.onwardBtnArrows{
width:40px;
margin-top:20px;
margin-left:20px;
}
#boxOfGoods{
position:relative;
right:0px;
left:0px;
margin:auto;
pointer-events:none;
}
.goodItem{
width:160px;
height:55px;
float:left;
}
.goodItemHotSpot{
width:80px;
height:55px;
margin-left:40px;
margin-right:40px;
cursor:pointer;
pointer-events:auto;
}
.goodItemHotSpot:hover .goodItemIconBlack{
display:none;
}
.goodItemHotSpot:hover .goodItemIconGreen{
display:block;
}
.goodItemHotSpot:hover .goodItemText{
color:#83c454;
}
.goodItemHotSpot:hover .goodItemText{
color:#83c454;
}
.iconHolder{
display:block;
width:35px;
Height:35px;
margin:auto;
}
.goodItemIcon{
width:100%;
height:100%;
}
.goodItemText{
text-align:center;
}
.goodItemIconGreen{
display:none;
}

/*MAIN PAGE*/
#mainPage{
display:none;
position:absolute;
width:100%;
}
#nav{
margin-left:auto;
margin-right:auto;
margin-top:16px;
margin-bottom:8px;
}
.topNavItem{
height:30px;
width:110px;
float: left;
cursor:pointer;
margin:8px;
}
.topNavItemBtn{
background-color:#f5f5f5;
color:#afafaf;
}
.topNavItemTxt{
margin-top:6px;
text-align:center;
}
#insideLogo .insideLogoHotSpot{
margin-left:auto;
margin-right:auto;
margin-top:-1px;
width:88px;
height:30px;
cursor:pointer;
}
.insideLogoHotSpot .insideLogo{
width:100%;
}
.insideLogoHotSpot:hover .greenLogo{
display:block;
}
.insideLogoHotSpot:hover .blueLogo{
display:none;
}
.project{
width:100%;
margin-top:8px;
}
.subNavHolder{
margin-left:auto;
margin-right:auto;
background-color:blue;
}
.subNavItemHolderHolder{
margin-top:10px;
float:left;
}
.subNavItemHolder{
display:block;
margin-left:auto;
margin-right:auto;
height:30px;
}
.subNavItem{
height:30px;
width:30px;
border-radius:50%;
float: left;
margin-left:8px;
margin-right:8px;
cursor:pointer;
background-color:#f5f5f5;
color:#afafaf;
}
.subNavItemTxt{
margin-top:6px;
margin-left:12px;
}

/*subnav icons*/
.icon{
width:14px;
}
.subNavItem:hover .iconDark{
display:none;
}
.subNavItem:hover .iconLight{
display:block;
}
.subNavItem.selected .iconDark{
display:none;
}
.subNavItem.selected .iconLight{
display:block;
}
.iconLight{
display:none;
}
.subNavItemIcon{
margin-top:8px;
margin-left:8px;
}

.descriptionHolder{
float:left;
}
.description{
max-width:400px;
border-style:none;
cursor:default;
margin-left:auto;
margin-right:auto;
}
iframe{
border:none;
}
.magicBoxHolder{
position:relative;
z-index:10;
}
#magicBox{
margin-left:auto;
margin-right:auto;
}
#loadingMsg{
position:absolute;
width:70px;
margin-left:auto;
margin-right:auto;
z-index:101;
}
#loadingMsgCard{
width:100%;
background-color:#3769aa;
position:absolute;
z-index:100;
}
.loadingGraphic{
width:70px;
height:70px;
}
#picture{
position:absolute;
width:100%;
z-index:10;
}
.arrow{
position:absolute;
width:50px;
height:50px;
border-radius:50%;
background-color:#3769aa;
cursor:pointer;
z-index:100;
}
#openBtn{
display:none;
position:absolute;
width:80px;
height:80px;
border-radius:50%;
background-color:#3769aa;
cursor:pointer;
z-index:100;

}
.openBtnIcon{
width:40px;
margin-top:20px;
margin-left:20px;
}
.leftArrow{
left:25px;
}
.rightArrow{
right:25px;
}
#arrows{
visibility:hidden;
}
.arrowIconLeft{
width:40px;
margin-top:5px;
margin-left:4px;
}
.arrowIconRight{
width:40px;
margin-top:5px;
margin-left:6px;
}
.video{
position:absolute;
display:none;
z-index:10;
}
.displayNone{
display:none;
}
.displayBlock{
display:block;
}
.cursorDefault{
cursor:default;
}
.whiteBackground{
background-color:white;
}
.noMouse{
pointer-events: none;
}
.inputPW{
    width:160px !important;
    height:30px !important;
    box-sizing:border-box !important;
    position:absolute !important;
    margin-top:-40px !important;
    margin-left:60px !important;
    display:none;
}